{% extends "layout.html" %}

{% block title %}
    Add cash to account
{% endblock %}

{% block main %}
    <h1>Add cash for {{ username }}</h1>
    <p>Hello, {{ username }}.<br>Please enter the amount of cash you would like to add:</p>
    <form action="/add_cash" method="post">
        <div class="form-group">
            <input class="form-control" name="add_cash" placeholder="Cash (USD)" type="number">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Add cash</button>
    </form>

{% endblock %}