{% extends "layout.html" %}

{% block title %}
    Sell shares
{% endblock %}

{% block main %}
    <h1>Sell shares</h1>
    <p>Enter a stock symbol and the number of shares you want to sell.</p>
    <p>Click here for a list of <a href="/index.html" target="_blank">shares you currently own</a>.</p>
    <form action="/sell" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell shares</button>
    </form>
{% endblock %}